Adafruit-Blinka==8.11.0
adafruit-circuitpython-mcp3xxx==1.4.13
adafruit-circuitpython-mcp9808==3.3.18
get-mac==0.8.3
i2clcd==0.0.1
pytest==7.2.1
requests==2.25.1
SI1145==1.0.2
smbus==1.1.post2
smbus2==0.4.2
